<form role="form"
    name="approveEmployee">

    <script cam-script type="text/form-script">

    var variableManager = camForm.variableManager;
    var footballClubField = document.getElementById('footballClubList');

    camForm.on('form-loaded', function() {
      variableManager.fetchVariable('footballClub');
    });

    camForm.on('variables-fetched', function() {
        var variableValue = variableManager.variableValue('footballClub');
        footballClubField.value = variableValue;
    });

    </script>

<!--
    <div class="form-group">
        <label>Firstname</label>
        <input disabled
               id="firstName"
               class="form-control" />
    </div>
-->

    <div class="form-group">
        <label for="firstName">Firstname</label>
        <input disabled
               cam-variable-name="firstName"
               cam-variable-type="String"
               class="form-control" />
    </div>

    <div class="form-group">
        <label for="lastName">Lastname</label>
        <input disabled
               cam-variable-name="lastName"
               cam-variable-type="String"
               class="form-control" />
    </div>

    <div class="form-group">
        <label for="footballClub">Football club</label>
        <select id="footballClubList"
                disabled
                class="form-control">
            <option value="001">Benfica</option>
            <option value="002">Porto</option>
            <option value="003">Sporting</option>
        </select>

    </div>


    <div class="form-group">
        <label>Do you approve</label>
        <input type="checkbox"
               cam-variable-name="approved"
               cam-variable-type="Boolean" />
        </div>
</form>
