

<form role="form"
    name="employeeInformation">

    <script cam-script type="text/form-script">

        <!--var variableManager = camForm.variableManager;-->

        <!--camForm.on('form-loaded', function() {-->
            <!--variableManager.fetchVariable('firstName');-->
            <!--console.log("form-loaded");-->
        <!--});-->

        <!--camForm.on('variables-restored', function() {-->
            <!--var firstName = variableManager.variableValue('firstName');-->
            <!--console.log("variable-restored:" + firstName);-->
        <!--});-->

            var variableManager = camForm.variableManager;

    camForm.on('variables-fetched', function() {
      // access to all process variables after the form has loaded
      console.log(variableManager.variables);
    });


    </script>

    <div class="form-group">

        <label for="firstName">Firstname</label>
        <input placeholder={{firstName}}
                cam-variable-name="firstName"
               cam-variable-type="String"
               class="form-control" />
    </div>

    <div class="form-group">
        <label for="lastName">Lastname</label>
        <input required
               cam-variable-name="lastName"
               cam-variable-type="String"
               class="form-control" />
    </div>

    <div class="form-group">
        <label for="footballClub">Football club</label>
        <select cam-variable-name="footballClub"
                cam-variable-type="String">
            <option value="001">Benfica</option>
            <option value="002">Porto</option>
            <option value="003">Sporting</option>
        </select>
    </div>

</form>
